.social-icon {
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
}

footer {
  font-family: 'Mulish';
  font-size: 18px;
}

hr {
  border-top: 2px solid black;
}

footer li {
  margin-bottom: 10px;
}
